<li>
  <% if page.current? %>
    <span><%= page %></span>
  <% else %>
  <%= link_to page, page.current? ? '#' : url, {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil} %>
  <% end %>
</li>
