<% content_for :title do %>だれうま！｜作った人情報<% end %>

<section id="contents" class="container">
  <table class="developers">
    <tr>
      <td><img alt=" " src="assets/img/ohori.jpg" /></td>
      <td>
        大堀祐一　デザイナー<br />
        <a href="http://dribbble.com/holly_u1" target="_blank"><img src="assets/img/icon/dribbble.png" class="icon" /></a>
        <a href="https://twitter.com/holly_u1" target="_blank"><img src="assets/img/icon/twitter.png" class="icon" /></a>
        <a href="https://www.facebook.com/yuichiohori" target="_blank"><img src="assets/img/icon/facebook500.png" class="icon" /></a><br />
        UI設計・デザインの会社で代表取締役兼デザイナーやってます。<br />
        タイポグラフィ・書体史とか卓球とかホットヨガとか。スタートアップのプロダクト設計・デザインも多数請け負っております。<br />
        株式会社Den Design→ <a href="http://dendesign.jp/" target="_blank">http://dendesign.jp/</a><br />
        <br />
        スマホの説明書<br />
        <a href="https://play.google.com/store/apps/details?id=com.forstarter&hl=ja" target="_blank">https://play.google.com/store/apps/details?id=com.forstarter&hl=ja</a>
      </td>
    </tr>
    <tr>
      <td><img alt=" " src="assets/img/harada_atsushi.jpeg" /></td>
      <td>
        原田 敦　プログラマ<br />
        <a href="https://twitter.com/harada4atsushi" target="_blank"><img src="assets/img/icon/twitter.png" class="icon" /></a>
        <a href="https://www.facebook.com/harada.at.sea4" target="_blank"><img src="assets/img/icon/facebook500.png" class="icon" /></a>
        <a href="https://github.com/harada4atsushi" target="_blank"><img src="assets/img/icon/github.png" class="icon" /></a>
        <br />
        日本CAWという会社でプログラマやってます。趣味でふざけたWEBサービスとか作ったりします。<br />
        得意分野はRuby on RailsやCakePHPを使った小規模WEBアプリケーションを高速で開発すること。たまにiOS, Androidアプリを作ることもあります。<br />
        週末の楽しみは一人お菓子パーティー。三度の飯より小動物をもふもふするのが好きです。<br />
        <br />
        もふもふ部（技術ブログ）<br />
        <a href="http://j-caw.co.jp/blog/" target="_blank">http://j-caw.co.jp/blog/</a><br />
        <br />
        はらぱん.info（個人サイト＆ブログ）<br />
        <a href="http://harada-atsushi.info/" target="_blank">http://harada-atsushi.info/</a><br />
        <br />
        飲み会脱出サービス - スマートエスケープ<br />
        <a href="https://smart-escape.net/" target="_blank">https://smart-escape.net/</a><br />
      </td>
    </tr>
  </table>
</section>