<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link href='http://fonts.googleapis.com/css?family=Radley' rel='stylesheet' type='text/css'>
<link href="assets/css/reset.css" rel="stylesheet">
<link href="assets/css/common.css" rel="stylesheet">
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<link rel="shortcut icon" href="assets/img/favicon.png">
<meta property="og:title" content="だれうま！"/>
<meta property="og:site_name" content="だれうま！"/>
<meta property="og:description" content="その足りない頭で気の利いた和訳でも作ってみろっての！"/>
<meta property="og:image" content="http://dare-uma.com/assets/img/img_user.png"/>
<meta property="og:url" content="http://dare-uma.com/"/>
<meta property="og:type" content="website"/>
<title>だれうま！｜その足りない頭で気の利いた和訳でも作ってみろっての！</title>

</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=1374765059423949";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<header class="clearfix">
  <div class="container">
    <p class="header_logo flL"><a href="#"><img alt="だれうま！.com" src="assets/img/img_logo.png"></a></p>
    <div class="header_login flR"> <!-- <a href="">ログイン</a>--> </div>
  </div>
</header>
<div id="intro">
  <div id="social_btns">
    <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="だれうま">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <a href="http://b.hatena.ne.jp/entry/http://dare-uma.com" class="hatena-bookmark-button" data-hatena-bookmark-title="れうま！｜その足りない頭で気の利いた和訳でも作ってみろっての！" data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
    <div class="fb-like" data-href="http://dare-uma.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
  </div>
  <img alt="" src="assets/img/img_toppage.png">
</div>
<section id="contents" class="container">
  <div id="toppage">
    <h1>お題一覧</h1>

    <ul id="container" class="clearfix">
      <% @themes.each do |theme| %>
        <li class="item"><a href="/detail?id=<%= theme.id %>"><%= theme.subject %></a></li>
      <% end %>
    </ul>
  </div>
</section>
<footer>
  <div class="container">
    <a href="developers">作った人情報</a><br />
    Copyright (C) 2013 Y.Ohori and A.Harada All Rights Reserved.
  </div>
</footer>
<div id="container" class="js-masonry"  data-masonry-options='{ "columnWidth": 200, "itemSelector": ".item" }'></div>
</body>
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/masonry.pkgd.min.js"></script>
<script type="text/javascript">
var $container = $('#container');
// initialize
$container.masonry({
  columnWidth: 213,
  itemSelector: '.item'
  });
</script>
</html>
