body {
	background: #f7f5ed url(../img/bg.png);
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	padding-bottom: 50px;
}
.clearfix {
 *zoom: 1;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}
.clearfix:after {
	clear: both;
}
.container {
	max-width: 640px;
	padding: 0 20px;
	margin: 0 auto;
}
.flL {
	float: left;
}
.flR {
	float: right;
}
header {
	background: #333;
	color: #fff;
}
.header_logo {
	margin-top: 7px;
}
.header_login {
	margin-top: 14px;
}
.header_login a {
	color: #fff;
	font-size: 12px;
}
#contents {
	padding: 30px 10px;
}
#intro {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}
#intro .en {
	font-family: 'Radley', serif;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 4px;
}
#toppage h1 {
	margin: -15px 0 10px;
	background: #666;
	color: #fff;
	padding: 5px 10px 2px;
}
#toppage ul li {
	width: 32%;
	float: left;
	margin-bottom: 4px;
	font-family: 'Radley', serif;
	text-align: center;
	background-color: #fff;
	-webkit-box-shadow: 6px 6px #e6e3d6;
	-moz-box-shadow: 6px 6px #e6e3d6;
	box-shadow: 6px 6px #e6e3d6;
	border: solid 1px #ddd3ab;
	font-size: 20px;
	font-weight: bold;
}
#toppage ul li:hover {
	background-color: #e29f9f;
}
#toppage ul li:hover a {
	color: #fff;
}
#toppage ul li a {
	display: block;
	padding: 25px;
	text-decoration: none;
	color: #333;
}
#theme {
}
#theme h1 {
	font-size: 20px;
	text-align: center;
	margin-bottom: 26px;
}
#theme h2 {
	font-family: 'Radley', serif;
	padding: 30px;
	text-align: center;
	background-color: #fff;
	-webkit-box-shadow: 6px 6px #e6e3d6;
	-moz-box-shadow: 6px 6px #e6e3d6;
	box-shadow: 6px 6px #e6e3d6;
	border: solid 1px #ddd3ab;
	font-size: 50px;
	font-weight: bold;
}
#post {
	margin-top: 50px;
}
#post textarea {
	width: 95%;
	height: 100px;
	padding: 10px;
	border: solid 1px #ddd;
}
#post .textarea_container {
	width: 80%;
	text-align: center;
	margin: 0 auto;
}
#post .name_container {
	width: 80%;
	margin: 10px auto;
	text-align: center;
}
#post input[type="text"] {
	width: 50%;
	padding: 4px 10px 3px;
	float: left;
	border: solid 1px #ddd;
}
#post input[type="button"] {
	float: right;
	width: 100px;
	height: 34px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #c3512f;
	color: #ffffff;
	color: #fff;
	font-size: 15px;
	text-shadow: 0 -1px rgba(0,0,0,.2);
	border: none;
	cursor: pointer;
}
#post input[type="button"]:hover {
	background: #eb5427;
}
#answer {
	padding-top: 30px;
}
#answer .username {
	font-size: 11px;
}
#answer input[type="button"] {
	width: 100px;
	height: 28px;
	line-height: 24px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #3d477f;
	color: #ffffff;
	color: #fff;
	font-size: 15px;
	text-shadow: 0 -1px rgba(0,0,0,.2);
	border: none;
	cursor: pointer;
}
#answer input[type="button"]:hover {
	background-color: #3a4cbd;
}
.arrow_box {
	position: relative;
	background: #ffffff;
	border: 1px solid #dddddd;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 6px;
	top: 50%;
	margin-top: -6px;
}
.arrow_box:before {
	border-color: rgba(221, 221, 221, 0);
	border-right-color: #dddddd;
	border-width: 7px;
	top: 50%;
	margin-top: -7px;
}
.answer_container {
	width: 80%;
	margin: 10px auto;
}
.answer_container h3 {
	margin: 20px 0;
	font-size: 13px;
	background: #666;
	letter-spacing: 1px;
	color: #fff;
	padding: 4px 12px 2px;
}
.answer_container li {
	margin-bottom: 25px;
}
.answer_left {
	width: 15%;
}
.answer_right {
	width: 85%;
}
.answer_right p {
	padding: 12px 10px 8px;
}
.answer_right_bottom {
	margin-top: 10px;
}
.answer_right_bottom span {
	padding: 5px 10px;
	margin-left: 5px;
}
#nav {
	padding-top: 30px;
}
#nav a {
	color: #333;
	font-size: 12px;
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 640px) {
#intro {
	margin-top: 0;
}
#intro img {
	width: 100%;
}
#toppage ul li {
}
}
@media screen and (max-width: 480px) {
.header_logo img {
	width: 70%;
	margin-left: -6px;
}
.header_login {
	margin-top: 7px;
}
#theme h1 {
	font-size: 18px;
	margin-bottom: 15px;
}
#intro {
	margin-top: 0;
}
#intro img {
	width: 100%;
}
#toppage ul li {
	width: 100%;
}
#toppage h1 {
	margin: 10px 0 10px;
}
#theme h2 {
	font-size: 36px;
}
#post {
	margin-top: 22px;
}
#post .textarea_container {
	width: 90%;
}
#post .name_container {
	width: 90%;
}
.answer_container {
	width: 90%;
}
.answer_right {
	width: 74%;
	margin-left: 28px;
}
#toppage {
	margin-top: -35px;
}
@media screen and (max-width: 320px) {
...
}
